.el-dialog {
  background-color: #ecf5ff;
}

.el-menu {
  background-color: #4b575c;
  border-right: 0;
}

.el-menu-item {
  color: #fff;
}

.el-menu-item:hover,
.el-menu-item:focus {
  background-color: #3dd9a6;
}

.el-submenu__title {
  color: #fff;
}

.el-submenu__title:hover {
  background-color: #2a93d4;
}

.el-submenu.is-active .el-submenu__title {
  background-color: #468a98;
}

.toolbar .el-input {
  width: 30%;
  float: right;
}
